h1 {
  font-size: 75px;
  margin-left: 35%;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  -webkit-text-stroke: 2px turquoise; /* width and color */
  font-family: sans;
  color: transparent;
}

h2 {
  font-size: 35px;
  -webkit-text-stroke: 2px turquoise; /* width and color */
  font-family: sans;
  color: transparent;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

h3 {
  margin-left: 35%;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

p {
  font-size: 20px;
  margin-left: 35%;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

/* div {
  margin-left: 35%;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
} */

#milliseconds {
  font-size: small;
}

.buttonContainer {
  font-size: 20px;
  margin-left: 35%;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.function_selector {
  margin-left: 35%;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;

  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

/* section {
  position: relative;
  width: 606px;
  margin: 0 auto;
  z-index: 0;
  color: white;
} */

/* section:after {
  content: "Click on a tab above!";
  position: absolute;
  left: 0;
  top: 38px;
  width: 100%;
  font-size: 1.8em;
  text-align: center;
  background-color: #5e6b7f;
  padding: 40px 0;
} */

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
